.header {
    background-image: var(--bg-header);    
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}
.info {
    max-width: 300px;   
    min-height: 400px;
}
.info-image {
    width: 100px;
    height: 100px;
    border-radius: 9999px;
}

.info-name {
    font-size: 46px;
    font-weight: bold;
    margin: 10px;

    text-shadow: 1px 1px 0 rgba(204, 204, 204, 0.479),
        2px 2px 0 rgba(204, 204, 204, 0.479),
        3px 3px 0 rgba(204, 204, 204, 0.479),
        4px 4px 0 rgba(204, 204, 204, 0.479);
}

.info-description {
    font-size: 26px;
    margin: 10px;
    color: rgba(30, 46, 100, 0.479);
}

.main {
    position: relative;
    z-index: 1;
    background-color: var(--color-container);
    border-radius: 50px 50px 0 0;
}
.main-section {

}
.main-subsection{
    background-color: var(--color-container-item);
    border-radius: 50px;
}
.main-subsection-top-more{
    background-color: rgba(219,234,141,1);
}
.main-subsection-top{

}
.main-subsection-content{

}

/*============ BREAKPOINTS ============*/
/* Default screen devices */
.px-info{
    padding-left: 30px;
}
.py-info{
    padding-top: 5px;
    padding-bottom: 30px;
}
/* Small screen devices (596px and above) */
@media screen and (min-width: 596px) {
    .sm\:px-info{
        padding-left: 100px;
    }
}
/* Large screen devices */
@media screen and (min-width: 992px) {
    .lg\:px-info{
        padding-left: 200px;
    }
}
@media screen and (min-height: 375px) {
    .sm\:py-info{
        padding-top: 60px;
        padding-bottom: 30px;
    }
}
@media screen and (min-height: 500px) {
    .md\:py-info{
        padding-top: 120px;
        padding-bottom: 60px;
    }
}
@media screen and (min-height: 800px) {
    .lg\:py-info{
        padding-top: 120px;
        padding-bottom: 60px;
    }
}


a.card{
    background-color: var(--bg-color-card-description);
}
.card-icon{
    height: 30px;
    width: 30px;
}